nav ul a{
	color: #023364;
}
.color nav{
	background-color: #f48fb1;
	height: 85px;
}

.header{
	color: #9c27b0;
}
p{
	line-height: 2rem;
}
.sidenav-trigger{
	color: #26a69a;
}
.parallax-container{
	min-height: 500px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,0);
}

.parallax-container .section{
	width:100%;
}
@media only screen and (max-width : 992px){
	.parallax-container .section{
		position:absolute;
		top:40%;
	}
	#index-banner .section{
		top:10%;
	}
}

@media only screen and (max-width: 600px){
	#index-banner .section{
		top:0;
	}
}

.icon-block{
	padding:0 15 px;
}

.con-block .material-icons{
	front-size: inherit;
}

.material-icons{
	color: #20815C;
}
footer a{
	color: ##000000;
}

.page-footer{
	background-color: #023364;
}

nav {
	background-color: blue;
}

div.centerTable{
        text-align: center;
}

 

div.centerTable table {
       margin: 0 auto;
       text-align: left;
}

